@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', Arial, sans-serif;
    overflow-x: hidden;
}

#back-office-box {
    position: fixed;
    z-index: 999;
    top: 2%;
    right: 2%;
    cursor: pointer;
}

#back-office-box img {
    width: 80px;
}


#back-office-box:hover img {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 0.5s;
    nimation-duration: 0.5s;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

#main {
    position: relative;
    -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/rovi-main.jpg);
    color: white;

}

#main .content {
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 40%;
}

#main .content img {
    width: 90%;
    max-width: 807px;
}

#main .content .text {
    margin-top: 5%;
    font-size: 1.5em;
    line-height: 1.7;
    font-weight: 600;
}

#crowd {
    position: relative;
    background-color: #458ccc;
    color: white;
    text-align: center;
    width: 100%;
}

#crowd .text {
    font-size: 47px;
    font-weight: 600;
    text-align: center;
    border: 12px solid white;
    position: absolute;
    padding: 5%;
    width: 500px;
    height: 110px;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    text-align: center;
}

#crowd .text .small {
    font-size: 30px;
}

.title-logo {
    position: absolute;
    bottom: 35px;
    width: 100%;
}

.title-logo img {
    width: 40px;
}

#crowdContent {
    position: relative;
    background-color: #1e1e1e;
    color: white;
    min-height: 620px;
}

#crowdContent .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

#crowdContent .text .text-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 460px;
    height: 335px;
}

#crowdContent .text .text-box .title {
    font-size: 45px;
    font-weight: 600;
    padding: 5% 0
}

#crowdContent .text .text-box hr {
    border-top: 1px solid #458ccc;
    width: 50px;
    padding: 0;
    margin: 30px 0;
}

#crowdContent .text .text-box .content {
    font-size: 18px;
    line-height: 1.7;
}

#crowdContent .img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/about-crowdfunding.jpg);
}

#crowdContent .img img{
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 200px;
    display: none;
    border-radius: 15px;
}

#rovi {
    position: relative;
    text-align: center;
    background-color: #55b2a7;
    color: white;
}

#rovi .text {
    font-size: 47px;
    font-weight: 600;
    text-align: center;
    border: 12px solid white;
    position: absolute;
    padding: 5%;
    width: 600px;
    height: 110px;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    text-align: center;
}

#rovi .text .small {
    font-size: 30px;
}



#roviContent {
    position: relative;
    background-color: #1e1e1e;
    color: white;
    min-height: 615px;
}

#roviContent .text {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

#roviContent .text .text-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 460px;
    height: 335px;
}

#roviContent .text .text-box .title {
    font-size: 45px;
    font-weight: 600;
    padding: 5% 0
}

#roviContent .text .text-box hr {
    border-top: 1px solid #55b2a7;
    width: 50px;
    padding: 0;
    margin: 30px 0;
}

#roviContent .text .text-box .content {
    font-size: 18px;
    line-height: 1.7;
}

#roviContent .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/about-rovi.jpg);
}

#roviContent .img img{
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 200px;
    display: none;
    border-radius: 15px;
}

#roviPoint {
    position: relative;
    background-color: #f0f0f0;
    text-align: center;
}

#roviPoint .up-crowd {
    padding: 7%;
}

#roviPoint .new-payment {
    padding: 6%;
}

#roviPoint .header {
    color: #10a79c;
    font-weight: 600;
}

#roviPoint .small-title {
    font-size: 22px;
}

#roviPoint .title {
    font-size: 40px;
}

#roviPoint .title .big {
    display: block;
}

#roviPoint .title .small {
    display: none;
}

#roviPoint .sub-title{
    margin-top: 40px;
    color: black;
    font-size: 20px;
}

#roviPoint .img-box {
    margin-top:90px;
}

#roviPoint .up-crowd .img-box img {
    width: 100%;
    max-width: 810px;
}

#roviPoint .new-payment .img-box img {
    width: 100%;
    max-width: 534px;
}

#roviPoint .content {
    margin-top: 50px;
    padding: 0 15%;
    font-size: 18px;
    line-height: 1.7;
}

#end {
    position: relative;
    -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/rovi-last.jpg);
    color: white;
}

#end .text {
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 40%;
    font-size: 45px;
    font-weight: 600;
    line-height: 1.7;
}

#footer {
    position: relative;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    padding: 35px;
    font-size: 16px;
    line-height: 1.7;
}

#footer .small {
    margin-top: 25px;
    color: #777777;
    font-size: 14px;
}

@media (max-width: 992px) {
    #crowdContent .text .text-box .title {
        font-size: 35px;
    }

    #crowdContent .text {
        position: relative;
        width: 100%;
        height: 50%;
        text-align: center;
    }

    #crowdContent .text .text-box hr {
        display: none;
    }

    #crowdContent .img {
        position: relative;
        width: 100%;
        height: 50%;
        text-align: center;
        background-image: none;
    }

    #crowdContent .img img {
        position: absolute;
        bottom: 10px;
        height: 80%;
        display: block;
    }

    #roviContent .text {
        position: relative;
        width: 100%;
        height: 50%;
        text-align: center;
    }

    #roviContent .text .text-box hr {
        display: none;
    }

    #roviContent .img {
        position: relative;
        width: 100%;
        height: 50%;
        text-align: center;
        background-image: none;
    }

    #roviContent .img img {
        position: absolute;
        bottom: 10px;
        height: 80%;
        display: block;
    }

    #end .text {
        font-size: 35px;
    }

    #footer {
        font-size: 14px;
    }

    #footer .small {
        font-size: 12px;
    }
}


@media (max-width: 768px) {
    #back-office-box img {
        width: 60px;
    }
    #main .content .text {
        font-size: 1.1em;
    }

    #crowd .text {
        border: 0;
        width: 100%;
        font-size: 35px;
        padding: 0;
    }

    #crowd .text .small {
        font-size: 20px;
    }

    #crowdContent .img img {
        height: 70%;
    }

    #crowdContent .text .text-box {
        width: 100%;
    }

    #crowdContent .text .text-box .title {
        font-size: 30px;
    }

    #crowdContent .text .text-box .content {
        font-size: 14px;
        padding: 0 4%;
    }

    #rovi .text {
        border: 0;
        width: 100%;
        font-size: 30px;
        padding: 0;
    }

    #rovi .text .small {
        font-size: 18px;
    }

    #roviContent .text .text-box {
        width: 100%;
    }

    #roviContent .img img {
        height: 70%;
    }

    #roviContent .text .text-box {
        width: 100%;
    }

    #roviContent .text .text-box .title {
        font-size: 30px;
    }

    #roviContent .text .text-box .content {
        font-size: 14px;
        padding: 0 4%;
    }

    #roviPoint .small-title {
        font-size: 18px;
    }

    #roviPoint .title {
        font-size: 29px;
    }

    #roviPoint .title .big {
         display: none;
     }

    #roviPoint .title .small {
        display: block;
    }

    #roviPoint .sub-title{
        font-size: 16px;
        margin-top: 30px;
    }

    #roviPoint .img-box {
        margin-top:50px;
    }

    #roviPoint .content {
        padding: 0;
        font-size: 15px;
    }

    #end .text {
        font-size: 25px;
    }

    #footer {
        font-size: 12px;
    }

    #footer .small {
        font-size: 10px;
    }
}